.root {
    -fx-background-color: linear-gradient(rgb(141, 118, 187) 0.5%, rgba(136, 123, 204, 1) 15%, #7564FA 60%, rgba(150, 100, 250, 2) 100%);
}


.root2 {
 -fx-background-color: radial-gradient(focus-angle 151.96deg, focus-distance 110%, center 15% 10%, radius 100%, rgba(147, 118, 187, 1) 10%, rgba(136, 123, 204, 1) 15%, #7564FA 60%, rgb(150, 100, 250) 100%)
}


.root3 {
    -fx-background-color: linear-gradient(to left bottom, rgb(136, 122, 203) 1%, rgb(132, 117, 215) 15%, #7564FA 50%, rgba(150, 100, 250, 2) 100%);
}


.root4 {
    -fx-background-color: linear-gradient(to left bottom, rgb(151, 117, 183), rgb(135, 110, 208), rgb(125, 104, 229), #7564FA, rgba(150, 100, 250, 2));
}


.root5 {
    -fx-background-color:  #7564FA, linear-gradient(to left bottom, rgba(202, 227, 48, 0.2) 28.71%, rgba(202, 197, 88, 0) 75.29%), linear-gradient(to left bottom, rgba(235, 68, 68, 0.2) 16.75%, rgba(240, 0, 0, 0) 64.2%);
    /*-fx-effect: innershadow( gaussian, rgba(117, 100, 250, 0.2), 200, 0, 0, 0);*/
}

