.button {
    -fx-font-family: "Roboto";
    -fx-font-size: 20pt;
    -fx-text-fill: #f8f8f8;
    -fx-background-color: #20C234;
    -fx-content-display: CENTER;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 4, 4, 4);
    -fx-background-radius: 30;
}



.button:hover {
    -fx-background-color: #0FB300;
}

.button:pressed {
    -fx-background-color: #0FB300;

}

.button:disabled {
    -fx-font-family: "Roboto";
    -fx-font-size: 20pt;
    -fx-text-fill: #f8f8f8;
    -fx-background-color: #20C234;
    -fx-content-display: CENTER;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 1, 1, 0, 1.5);
}
