
.BackButton {
    -fx-font-family: "Roboto";
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
    -fx-text-fill: #f8f8f8;
    -fx-background-color: transparent;
    -fx-content-display: CENTER;
    -fx-border-width: 0;
}



.BackButton:hover {
    -fx-background-color: transparent;
    -fx-text-fill: derive(#5145AD, 10%);
}

.BackButton:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: #5145AD;

}

.BackButton:disabled {
    -fx-opacity: 0.4;
}
