.button {
    -fx-font-family: "Roboto";
    -fx-font-size: 20pt;
    -fx-text-fill: #f8f8f8;
    -fx-background-color: #5145AD;
    -fx-content-display: CENTER;
    -fx-background-radius: 30;
}



.button:hover {
    -fx-background-color: #5145AD;
}

.button:pressed {
    -fx-background-color: #5145AD;

}

.button:disabled {
    -fx-font-family: "Roboto";
    -fx-font-size: 20pt;
    -fx-text-fill: #f8f8f8;
    -fx-background-color: #5145AD;
    -fx-content-display: CENTER;
}
